<md-content layout="column" layout-align="center center" layout-padding>

    <md-whiteframe class="md-whiteframe-3dp" style="width: 100%;">
    <!-- exact table from live demo -->
    <md-table-container>
        <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="getDesserts">
            <tr md-row>
                <th md-column ><span>First Name</span></th>
                <th md-column ><span>Last Name</span></th>
                <th md-column >Email</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="user" md-select-id="firstName" md-auto-select ng-repeat="user in users">
                <td md-cell>{{user.firstName}}</td>
                <td md-cell>{{user.lastName}}</td>
                <td md-cell>{{user.email}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>

    </md-whiteframe>

</md-content>